@import "variable.css";


html {
    height: 100%;
}

body{
    margin: 0;
}


#page-body {
    width: 100%;
    height: auto;
    background-color: black;

    /*set background image*/
    background-image: url(/images/anno1800-boat.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.content {
    font-family: 'SourceHan';
    font-size:large;
    margin: 0 auto; /* set content to center */
    width: calc(var(--post-content-width) + 40px);
    z-index: 1;
}

#article-list {
    width: var(--post-content-width);
    min-height: calc(100% - var(--header-height) - 20px - 20px - 40px); /*make sure height content fill the page*/
    padding: 20px;
    margin: 0px;
    background-color: white;
}

#article-list li {
    margin-bottom: 5px;
    position: relative;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    border: 0px solid blue;
}

#article-list li a {
    border: 0px solid blue;
    text-decoration: none;
    color: black;
    margin-right: 5px;
}

#article-list li a:hover {
    color: #999;
}

#article-list li .date {
    margin-left: 5px;
}

#article-list li div {
    flex-grow: 1;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
}

#article-list li hr {
    border: 1px dashed #000;
    margin: 0;
    flex-grow: 1; /* 横线自动拉伸填充剩余空间 */
}

header {
    background-color: white;
    height: var(--header-height);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999; /* 可选，用于控制层级 */
}

#header-content {
    width: calc(var(--header-content-width) + 40px);
    margin: 0 auto;
    text-align: left;
    top: 0;
    height: var(--header-height);
    align-items: center;
    display: flex;
    background-color: white;
}

header nav a {
    margin-right: 10px;
    display: inline-block;
    align-items: center;
    font-family: 'SourceHan';
    font-weight: normal;
    font-size: 1.5em;
    text-decoration: none;
    color:  black;
}

header nav a:hover {
    color: grey;
}