header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
	display: flex;
    justify-content: space-between;
}

header nav a:hover {
    color: #6f00ff;
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    border: 2px solid purple;
}

.header-link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
}

body {
    width: calc(40.33% - 2px);
    margin: 0 auto;
    border: 2px solid blue;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.matrix-div {
    background-color: black;
    color: lime;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    white-space: pre;
    overflow: auto;
    height: 400px; /* 自定义高度 */
}

#http-connect {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  animation: spin 2s infinite linear;
}

#article-list {
    margin-top: 50px;
    margin-bottom: 50px;
}

#article-list li {
    margin-bottom: 5px;
    position: relative;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
}

#article-list li a {
    border: 1px solid blue;
    text-decoration: none;
    flex-grow: 0.2; 
}

#article-list li .date {
    margin-left: 10px;
    margin-right: 10px;
}

#article-list li hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 0;
    flex-grow: 1; /* 横线自动拉伸填充剩余空间 */
}

#article-list li div {
    flex-grow: 1;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 水平居中对齐 */
}