@import "variable.css";

header nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-weight: normal;
	display: flex;
    justify-content: space-between;
}

header nav a:hover {
    color: #6f00ff;
}

header {
    width: calc(40.33% - 2px);
    margin: 0 auto;
    text-align: left;
    position: fixed;
    top: 0;
    z-index: 9999; /* 可选，用于控制层级 */
    background-color: #ffffff; /* 设置背景颜色为不透明的白色 */
    opacity: 1; 
    border: 2px solid blue;
    height: var(--header-height);
    border-bottom: 3px solid black;
    align-items: center;
    display: flex;
}

.header-link {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
}

html {
    height: 100%;
}

body {
    width: calc(40.33% - 2px);
    height: 100%;
    margin: 0 auto;
    border: 2px solid blue;
}

.content {
    min-height: calc(100% - 40px);
    padding-bottom: 0px;
}

#page-footer {
    position: sticky;
    height: 40px;
    text-align: center;
}

.hidden {
    display: none;
}

#white-box {
    height: calc(var(--header-height) + 10px);
}

.matrix-div {
    background-color: black;
    color: lime;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px;
    white-space: pre;
    overflow: auto;
    height: 400px; /* 自定义高度 */
}

#http-connect {
  font-family: 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  display: inline-block;
  animation: spin 2s infinite linear;
}

#article-list {
    margin-bottom: 50px;
    padding: 10px;
}

#article-list li {
    margin-bottom: 5px;
    position: relative;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 垂直居中对齐 */
    border: 1px solid blue;
    padding: 10px;
}

#article-list li a {
    border: 1px solid blue;
    text-decoration: none;
    flex-grow: 0.2; 
}

#article-list li .date {
    margin-left: 5px;
    margin-right: 10px;
}

#article-list li hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 0;
    flex-grow: 1; /* 横线自动拉伸填充剩余空间 */
}

#article-list li div {
    flex-grow: 1;
    display: flex; /* 使用 flexbox 布局 */
    align-items: center; /* 水平居中对齐 */
}


#page-title {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    /* 其他样式属性 */
}

#page-content {
    font-size: 16px;
    color: #666;
    /* 其他样式属性 */
}
