:root {
    --header-height: 60px;
    --header-content-width: 700px; 
    --index-header-height: 130px;
    --footer-height: 80px;
    --post-content-width: 700px; 
}

#white-box {
    height: var(--header-height);
}

#white-footer-box {
    height: 50px;
    background-color: white;
    z-index: 1;
}

#black-box {
    width: 100%;
    height: 20px;
    background-color: black;
}

#transparent-box {
    opacity: 1;
}

@font-face {
    font-family: 'SourceHan';
    src: url('/font/SourceHanSerifSC-VF.ttf') format('truetype');
}

@font-face {
    font-family: 'Elizabeth';
    src: url('/font/Elizabeth.ttf') format('truetype');
}

@font-face {
    font-family: 'DarahRevolusi';
    src: url('/font/DarahRevolusi-gxMa1.otf') format('opentype');
}


