:root {
    --header-height: 160px;
    --footer-height: 40px;
}

#white-box {
    height: calc(var(--header-height) + 10px);
}

#white-footer-box {
    height: 50px;
    background-color: white;
    z-index: 1;
}
