<footer id="page-footer" >
	<div id="time-box">  
		<div id="current-utc-time" id="page-footer-text"></div>
	</div>
</footer>

  <script>
	    function updateCurrentTime() {
	  		var timeElement = document.getElementById('current-utc-time');
      		var currentTime = new Date().toUTCString();
	  		//console.log(timeElement.textContent);
	   		timeElement.textContent = currentTime;
    	}

    // 每秒更新一次时间
	updateCurrentTime()
    setInterval(updateCurrentTime, 1000);
  </script>


