<link rel="stylesheet" href="/css/style.css">
<header>
    <nav>
        <a href="/" class="header-link">Home</a>
        <a href="/archives/" class="header-link">Archives</a>
        <a href="/game/" class="header-link">Game</a>
        <a href="/about/" class="header-link">About</a>
    </nav>
</header>