<link rel="stylesheet" href="/css/post.css">

<div style="opacity: 0; height: 80px; z-index: 10;"></div>

<div id="url-element"></div>

<div id="page-content">
	<div id="page-title">
		<%- page.title %>
	</div>
	<%- page.content %>
</div>

<script src="https://threejs.org/build/three.js"></script>



<script>
</script>
