<link rel="stylesheet" href="/css/post.css">

<div id="white-box"></div>
<div id="transparent-box" style="height: 20px;"></div>

<div id="url-element"></div>

<div id="page-content">
	<div id="page-title">
		<%- page.title %>
	</div>
	<%- page.content %>
</div>



<script>
</script>
