<meta charset="UTF-8">
<link rel="stylesheet" href="/css/about.css">
<%- include('../../layout/_partial/header') %>

<div id="page-body">
	<div class="content">
		<div id="white-box"></div>
        <div id="transparent-box" style="height: 20px;"></div>
        <div class="page-content">
            <div class="about-box">
                <div class="image-container">
                    <img src="/images/macaw.jpg" alt="Image">
                </div>
                <div id="personal-info">
                </div>
                <div class="link-container">
                    <a href="mailto:zhuyongqi9@gmail.com">
                        <img class="icon-link" src="/images/email.png" alt="Image">
                    </a>
                    <a href="https://twitter.com/Kirin43109156">
                        <img class="icon-link" src="/images/twitter.png" alt="Image">
                    </a>
                </div>
		    </div>
        </div>
	</div>
</div>

<%- include('../../layout/_partial/footer') %>

	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>


<script>
	let personalInfoContentStr = marked.parse(
		"This is kirin, an interest-driven developer and worked as a software enginner.\n \
		- Interested in system programming now, welcome to discuss 《csapp》 with me \n\
		- Graduated from NUIST 2022 \n\
		- Familiar with microcontroller and web-backend projects...\n"
	);

	let personInfoContent = new DOMParser().parseFromString(personalInfoContentStr, 'text/html');

	let personalInfo = document.getElementById('personal-info');
	var bodyChildren = Array.from(personInfoContent.body.childNodes);
	console.log(bodyChildren)

	bodyChildren.forEach(function (child) {
		personalInfo.appendChild(child);
	});


</script>